{{template "header" .}}
<h1> FAQ PAGE </h1>
<ul>
    {{template "qa" .}}
</ul>


{{define "qa"}}

    {{ range $question := .}}
        <li><b>{{$question.Question}}</b> {{$question.Answer}}</li>
    {{end}}

{{end}}

{{template "footer" .}}